
* {
    font-family: sans-serif
}

h1 {
    font-size: 50px;
    color: palevioletred;
    text-align: center;
    border: 5px dotted purple;
    width: 700px;
    margin: auto;
}

div {
    border: 3px solid palevioletred;
    margin: 28px;
    width: 250px;
    height: 250px;
    padding: 5px 8px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}

img.lasagne {
    height: 200px;
    width: 200px;
    object-fit: cover;  
}
img.halloumi {
    height: 200px;
    width: 200px;
    object-fit: cover; 
}
img.cake {
    width: 200px;
    height: 200px;
    object-fit: cover;
}