
* {
    font-family: sans-serif;
   
}

h1 {
    font-size: 50px;
    color: palevioletred;
    text-align: center;
    border: 5px dotted purple;
    width: 700px;
    margin: auto;
}

a {
    margin-top: 10px;
}
img {
    height: 200px;
    width: auto;
}

.info, 
.image {
    display: inline-block;
}
.info {
    vertical-align: top;
    margin-left: 20px;
}

.ing {
    display: inline-block;
}

.ingredients {
    width: 200px;
    display: inline-block;
}

.filling {
    margin-left: -150px;
}

.sauce {
    vertical-align: top;
}

ul,
ol {
    background-color: rgb(253,221,230);
    padding: 3px;
    border: 2px dashed grey;
    border-radius: 25px;
}

ul {
    margin: 10px;
    width: 150px;
    padding: 7px;
    border: 2px dashed grey;
    border-radius: 25px;
}

ol {
    width: 800px;
}

li {
    padding: 4px;
    margin-left: 25px;
}

